* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* {
    font-family: 'Open Sans', sans-serif;
}

.background-blu {
    background-color: rgb(67, 67, 109);
}

.background-aqua {
    background-color: rgb(59, 211, 160);
}

.background-light-blu {
    background-color: rgb(68, 106, 150);
    width: 100%;
    margin-top: 50px;
}

.content-header {
    color: white;
    font-weight: 800;
    padding-top: 15px;
}

.content-header-right {
    color: white;
    font-size: 12px;
    font-weight: 700;
    display: flex;
    justify-content: flex-end;
    padding-top: 15px;
}

.content-header-right li {
    list-style-type: none;
    display: inline;
    margin: 15px;
}
 
.content-jumbo img {
    width: 150px;
    margin-bottom: 20px;
}

.content-jumbo {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 25px;
    color: white;
    margin-bottom: 30px;
    
}

.content-jumbo h1 {
    font-weight: 600;
    text-align: center;
}

.riga-b::before, .riga-b::after {
    content: '';
    display: inline-block;
    width: 100px;
    height: 2px;
    background-color: rgb(25, 25, 41);
    vertical-align: middle;
}

.riga-w::before, .riga-w::after {
    content: '';
    display: inline-block;
    width: 100px;
    height: 2px;
    background-color: white;
    vertical-align: middle;
}

.riga-b, .riga-w {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.riga-w i {
    color: white;
    margin: 0 8px;
}

.content-title h2{
    color: rgb(25, 25, 41);
    justify-content: center;
    display: flex;
    margin-top: 40px;
    font-weight: 700;
    font-size: 35px;
    text-align: center;
}

.content-title-white h2{
    color: rgb(255, 255, 255);
    justify-content: center;
    display: flex;
    margin-top: 40px;
    font-weight: 700;
    font-size: 35px;
}

.content img {
    width: 100%;
    border-radius: 15px;
}

.bianco {
    color: white;
}

.txt-white {
    color: white;
    font-size: 15px;
}

.center {
    text-align: center;
}

.cont-button {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.button_white {
    background-color: transparent;
    color: white;
    border: 1px solid white;
    padding: 10px 15px;
    border-radius: 10px;
    margin-bottom: 40px;
}

.button_blu {
    background-color: rgb(59, 211, 160);
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 10px;
    margin-top: 30px;
}

.section-2 {
    margin-top: 50px;
    margin-bottom: 60px;
}

.cont-send {
    margin-top: 70px;
}

.cont-bottom {
    margin: 25px 0;
}

.sezione-4 i {
    padding: 10px;
    border-radius: 50%;
    border: 1px solid white;
    margin: 0 5px;
}

.txt-green {
    color: rgb(59, 211, 160);;
}

footer {
    background-color: rgb(67, 67, 109);
}

.txt-white-small {
    font-size: 10px;
    color: white;
    text-align: center;
}

.content-footer {
    padding: 20px;
}

.textarea {
    margin-top: 20px;
}

.under {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid grey;
    border-radius: 0;
}

.navbar a {
    font-weight: 600;
    color: white;
}
