* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.background-blu {
    background-color: rgb(1, 1, 29);
    height: 50px;
}

.background-green {
    background-color: green;
    height: 40px;
}

.background-yellow {
    background-color: yellow;
    height: 30px;
    border: 1px solid black;
}

.background-aqua {
    background-color: rgb(59, 211, 160);
    height: 350px;
}

.background-brown {
    background-color: brown;
    height: 80px;
    border: 1px solid black;
}

.background-pink {
    background-color: pink;
    height: 250px;
    border-radius: 15px;
    border: 1px solid black;
}